.div-orange {
    background-color: rgb(253, 198, 94);
    height: 500px;
    width: 500px;
}

.div-green {
    background-color: rgb(63, 219, 97);
    height: 50%;
    width: 50%;
}

p {
    font-size: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.div-blue {
    width: 50%;
    height: 50vh;
    background-color: rgb(68, 175, 247);
}

.div-red {
    width: 75vw;
    height: 50%;
    background-color: rgb(241, 42, 42);

}